{% extends 'base_layout.html'  %}
{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/heading.css' %}">
{% endblock %}

{% block content %}
{% load widget_tweaks %}

</nav>
<div class="container">


    <div class="row pt-5">
        <div class="col-4"></div>
        <div class="col-4 rounded-sm border">
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Please Enter Correct Username and Password </strong>
                </div>
                {% endif %}
                <div class="form-group">
                    <label class="loginfield">Username</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label class="loginfield">Password</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-warning btn-block loginfield">LOGIN</button>
            </form>

            <a href="{% url 'password_reset' %}">
                <button class="btn btn-warning btn-block mt-4 loginfield">Forget password?</button>
            </a>

            <p class="mt-3">Don't have an account? <a href="{% url 'userregister' %}">SignUp</a></p>

        </div>
        <div class="col-4"></div>
    </div>
</div>
<footer class="footer bg-dark py-4 mt-4">
    <div class="container">
      <span class="text-muted">© SayOne Technologies 2020</span>
    </div>
  </footer>

{% endblock %}