<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base layout</title>
      {% load static %}
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% block addcss %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/myfonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
     {% endblock %}

 
<style>

.mySlides {display:none;}

</style>
   

</head>
<body>
{% block content %}


{% endblock %}

{% block addjs %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'js/basic-upload.js' %}"></script>

{% endblock %}

</body>
</html>