
{% extends 'base_layout2.html' %}
{% load static %}
{% block addcss %}

<link rel="stylesheet" href="{% static 'css/heading.css' %}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">

        </div>

        <div class="col-3"></div>
        <div class="col-6 crimson mt-4">
            {% if story %}
            story title :{{story.story_title }}<br>
            story type :{% if story.story_type == 0 %} Event
                        {% elif story.story_type == 1 %}Blog
                        {% elif story.story_type == 2 %} Pic Gallery
                        {% endif %} <br>
            Date created {{ story.date_created }}<br>
            Author {{story.story_author }}

            {% endif %}
            {% if form %}
            <form method="POST" action="{% url 'add_story' %}" class="crimson">
                {% csrf_token %}
            {{form}}
                <button type="submit" class="btn btn-warning mt-4 ">Add</button>
            </form>
            {% endif %}


            {% if form1 %}
            <form method="POST" action="{% url 'add_blog' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if story %}
                <input type="hidden" value="{{story.story_id}}" name="storyid">
                {% endif %}
            {{form1}}
                <button type="submit" class="btn btn-warning mt-4 ">Add</button>
            </form>
            {% endif %}


            {% if form2 %}
                <form method="POST" action="{% url 'multiple_pic_upload' story.story_id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form2 }}
                    <button type="submit" class="btn btn-warning mt-4">Add</button>


                </form>


            {% endif %}
        </div>

        <div class="col-3"></div>
        </div>



{% endblock %}