
{% extends 'base_layout.html' %}
{% load static %}
{% block addcss %}

<link rel="stylesheet" href="{% static 'css/heading.css' %}">

{% endblock %}

{% block content %}
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">
                  <img src="{{user.sayone_user.profile_pic.url}}" alt="Sayone" class="rounded-circle" style="width:130px;height:100px;">
                    {{user.sayone_user.name}}
                </a>


                <!-- Links -->
                <ul class="navbar-nav ml-auto">

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile_page' %}">My Profile </a>
                  </li>

                     <li class="nav-item">
                   <a class="nav-link lora" href="{% url 'add_story_page' %}" >Add Story</a>
                 </li>
 <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>

                      <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                My Stories
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'user_stories_page' %}">published</a>
                    <a class="dropdown-item" href="{% url 'draft_stories' %}">Drafts</a>

                  </div>
                </li>
                </ul>
              </nav>
<div class="container">
    <div class="row">
        <div class="col-12">

        </div>

        <div class="col-3"></div>
        <div class="col-6 crimson mt-4">
            {% if story %}
            story title :{{story.story_title }}<br>
            story type :{% if story.story_type == 0 %} Event
                        {% elif story.story_type == 1 %}Blog
                        {% elif story.story_type == 2 %} Pic Gallery
                        {% endif %} <br>
            Date created {{ story.date_created }}<br>
            Author {{story.story_author }}

            {% endif %}
            {% if form %}
            <form method="POST" action="{% url 'add_story' %}" class="crimson">
                {% csrf_token %}
            {{form}}
                <button type="submit" class="btn btn-warning mt-4 ">Add</button>
            </form>
            {% endif %}


            {% if form1 %}
            <form method="POST" action="{% url 'add_blog' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if story %}
                <input type="hidden" value="{{story.story_id}}" name="storyid">
                {% endif %}
            {{form1}}
                <button type="submit" class="btn btn-warning mt-4 ">Add</button>
            </form>
            {% endif %}


            {% if form2 %}
                <form method="POST" action="{% url 'multiple_pic_upload' story.story_id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form2 }}
                    <button type="submit" class="btn btn-warning mt-4">Add</button>


                </form>


            {% endif %}
        </div>

        <div class="col-3"></div>
        </div>



{% endblock %}