{% extends 'base_layout.html' %}
{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/heading.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/images.png' %}" alt="Sayone" style="width:70px;height:50px;" class="rounded-sm">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link quicksand" href="{% url 'login' %}">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link quicksand" href="{% url 'userregister' %}">Register</a>
        </li>

    </ul>
</nav>
<div class="container">
    
        
            
        
    
    <div class="row">
        <div class="col-12 my-5 text-center">
        <h4>Welcome to Sayone Stories . Start Sharing</h4>
            
        </div>
    </div>
    <div class="row quicksand">
        <div class="col-4">

            <div class="card">
                <img class="card-img-top" src="{% static 'images/event.JPG' %}" alt="Card image"
                     style="width:100%;height:230px;">
                <div class="card-body">
                    <h5 class="card-title">Events</h5>
                    <p class="card-text">Share Details of the Events Outside</p>

                </div>
            </div>


        </div>

        <div class="col-4">

            <div class="card" >
                <img class="card-img-top" src="{% static 'images/technology.jpeg' %}" alt="Card image"
                     style="width:100%;height:230px;">
                <div class="card-body">
                    <h5 class="card-title">Technology Blogs</h5>
                    <p class="card-text">Share your knowledge </p>

                </div>

            </div>


        </div>
        <div class="col-4">
            <div class="card" >
                <img class="card-img-top" src="{% static 'images/holiday.jpg' %}" alt="Card image" style="width:100%;height:230px;">
                <div class="card-body">
                    <h5 class="card-title">Holiday pics</h5>
                    <p class="card-text">Share your Holiday pics</p>

                </div>
            </div>


        </div>
    </div>

    

</div>


{% endblock %}