{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h6>Title{{ story.story_title }}</h6><br>
        <h6>Author{{story.story_author }}</h6><br>
        <h6>published on {{story.date_created}}</h6><br>


{% if blog %}
<img src="{{picurl.url}}" width="300" height="300"><br>
{{description}}
{% endif %}
</div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
{% if images %}
<div class="w3-content w3-display-container">
  {% for image in substory %}
  <img class="mySlides" src="{{image.file.url}}" style="width:100%;height:400px;">
  {% endfor %}
  

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
{% endif %}
</div>
<div class="col-2"></div>
</div>
<script>
  var slideIndex = 1;
  showDivs(slideIndex);
  
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
  
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
  }
  </script>





</div>
{% endblock %}

  