{% extends 'base_layout2.html' %}
{% load static %}
{% block addcss %}
<link rel="stylesheet" href="{% static 'css/profilepic.css' %}">
<link rel="stylesheet" href="{% static 'css/heading.css' %}">

{% endblock %}
{% block content %}

<div class="container">


    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-8 mt-4 rounded-sm ">
         <div class="card">
                <img class="card-img-top" src="{{profile_details.profile_pic.url}}" alt="Card image" height="200px">
                
                <div class="card-body">
                        <h3 class="card-title">{{profile_details.name}}</h4>
                        <p class="card-text">Username:{{profile_details.username}}</p>
                        <p class="card-text">Email ID:{{profile_details.mailid}}</p>
                        <p class="card-text">Stories:{{profile_details.story_count}}</p>
                       <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit profile</a>
                      </div>



</div>



                    

        

        <div class="col-2"></div>
    </div>


</div>

{% endblock %}