
{% extends 'base_layout.html' %}
{% load static %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">
                  <img src="{{img_url.url}}" alt="Sayone" class="rounded-circle" style="width:130px;height:100px;">
                    {{user.sayone_user.name}}
                </a>


                <!-- Links -->
                <ul class="navbar-nav ml-auto">

                  <li class="nav-item">
                    <a class="nav-link lora" >My Profile </a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link lora" href="{% url 'add_story_page' %}" >Add Story</a>
                  </li>
 <li class="nav-item">
                    <a class="nav-link lora" href="{% url 'logout' %}">Logout</a>
                  </li>
                     <li class="nav-item ">
                    <a class="nav-link lora" href="{% url 'user_stories_page' %}">My Stories</a>
                  </li>
                </ul>
              </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for story in stories %}
            <div class="card">
                <div class="card-body"><a href="{% url 'story_detail_page' story.story_id%}"><h4 >{{story.story_title}}</h4></a>
                    <h4 >{{story.story_author}}</h4><br>
                    <h4 >{{story.date_created}}</h4>
                </div>
</div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}